{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% if tasks|length == 0 %}
                {% if 'task_list_done' != app.request.attributes.get('_route') %}
                    <div class="alert alert-warning" role="alert">
                        <span class="no-task">Il n'y a pas encore de tâche enregistrée. </span><a href="{{ path('task_create') }}" class="btn btn-warning no-task-button pull-right">Créer une tâche</a>
                    </div>
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        <span class="no-task">Il n'y a pas encore de tâche terminée. </span><a href="{{ path('task_list') }}" class="btn btn-info no-task-button pull-right">Consulter la liste des tâches à faire</a><a href="{{ path('task_create') }}" class="btn btn-warning no-task-button pull-right no-task-m">Créer une tâche</a>
                    </div>
                {% endif %}
            {% else %}
                <a href="{{ path('task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="row">
        {% for task in tasks %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4 class="pull-right">
                            {% if task.isDone %}
                                <span class="glyphicon glyphicon-ok"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove"></span>
                            {% endif %}
                        </h4>
                        <h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                        <p><small><u>{{ task.user.username }}</u> le {{ task.createdAt| date('d/m/Y à H:i:s') }}</small></p>
                        <p>{{ task.content }}</p>                      
                    </div>
                    <div>
                        <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                            {% if not task.isDone %}
                                <button class="btn btn-success btn-sm pull-right buttons-task">Marquer comme faite</button>
                            {% else %}
                                <button class="btn btn-primary btn-sm pull-right buttons-task">Marquer non terminée</button>
                            {% endif %}                         
                        </form>
                        <form action="{{ path('task_edit', {'id' : task.id }) }}">
                            <button class="btn btn-warning btn-sm pull-right buttons-task">Editer</button>
                        </form>
                        <form action="{{ path('task_delete', {'id' : task.id }) }}">
                            <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
